<%- include('.././partials/header'); %>
    <div class="container">
        <h1 class="display-1">Welcome to BSB Cycles Home page</h1>
    </div>


    <div class="main" style="display: flex;
    padding-top: 10px;">
        <div class="content" style="
        width: 50%;
        height: 200px;">
            <h2>Get the best deals at the best price</h2>
            <p class="cont">BSB Cycles provides a wide range of cycles for our customers. The price ranges from 5000
                taka to 30,000 taka. We also take pre-order of cycles that our customer wants. We provide free servising
                for 6 months after a customer purchases a cycle from us.</p>
        </div>
        <div class="mainimg" style="
        width: 550px;
        height: 200px;">
            <img src="/public/images/1920x1080-casco_borraccia_copia.jpg" alt="">
        </div>
    </div>

    <%- include('.././partials/footer'); %>